

.login_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login_box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login_box .user_box {
  position: relative;
}

.login_box .user_box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login_box .user_box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.login_box .user_box input~label {
  top: -20px;
  left: 0;
  color: #f15fd2;
  font-size: 12px;
}
.login_box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #f15fd2;
  background-color: transparent;
  border: none;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login_box button:hover {
  background: #f15fd2;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f15fd2,
              0 0 25px #f15fd2,
              0 0 50px #f15fd2,
              0 0 100px #f15fd2;
}
