.lable {
  display: block;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 20px;
}

.contact_inp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}
.sabmit_contact {
  font-size: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 15px;
  background-color: rgb(58, 58, 147);
  border: 1px;
  border-radius: 5px;
  color: white;
  transition: all, 500ms;
  margin-bottom: 15px;
}
.sabmit_contact:hover,
.sabmit_contact:focus {
  opacity: 1;
  transform: scale(1.1);
}
