
.linkConteiner{
  display: flex;
gap:0px 20px}
.link {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 18px;
  transition: all 300ms;
  color: white;
  background-color: rgb(2, 93, 107);
  text-decoration: none;
} 

.link:hover {
  scale: 1.02;
  background-color: rgb(62, 156, 171);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px, rgba(0, 0, 0, 0.2) 0px 4px 6px;
}
